@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Variable de couleurs et font. */

:root {
  --obviously_font: "obviously-condensed", sans-serif;
  --inter_font: "Inter", sans-serif;
  --linear-blue: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(116, 211, 250, 1) 100%
  );
  --linear-pink: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(250, 194, 216, 1) 100%
  );
  --vert-tropical: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    #00ffaa 100%
  );
  --linear-jaune: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    #ffd700 100%
  );
  --linear-orange: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    #ff4500 100%
  );
  --linear-violet: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    #4b0082 100%
  );
  --linear-pamplemouse: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    #ff6347 100%
  );
  --linear-beige: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    #f5deb3 100%
  );
  --linear-rouge: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    #8b0000 100%
  );
  --linear-rose2: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    #ff007f 100%
  );
  --linear-vert: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    #a8e05f 100%
  );
  --pink-color: #ff719d;
  --white-color: #fffaf6;
  --black-color: #000;
  --blue-color: #55b7e0;
}

/* Reset style par default */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



/* Styles des different text présent. */

.headline1 {
  font-family: var(--obviously_font);
  font-weight: 900;
  font-size: 159.57px;
  line-height: 172px;
  text-transform: uppercase;
  animation: slideIn 500ms ease-in-out;
}

.headline2 {
  font-family: var(--obviously_font);
  font-weight: 700;
  font-size: 68.91px;
  line-height: 84px;
  text-transform: uppercase;
}

.headline3 {
  font-family: var(--obviously_font);
  font-weight: 700;
  font-size: 58px;
  line-height: 110%;
}

.headline4 {
  font-family: var(--obviously_font);
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
}

.headline5 {
  font-family: var(--obviously_font);
  font-weight: 200;
  font-size: 39.71px;
  line-height: 19px;
}

.body-font2 {
  font-family: var(--inter_font);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}

.body_bold {
  font-family: var(--inter_font);
  font-weight: 700;
  font-size: 17.97px;
  line-height: 27px;
}

.uppercase {
  font-family: var(--inter_font);
  font-weight: 700;
  font-size: 17.97px;
  line-height: 27px;
  text-transform: uppercase;
}

.body-font {
  font-family: var(--inter_font);
  font-weight: 500;
  font-size: 13.88px;
  line-height: 16px;
}

.tagline {
  font-family: var(--inter_font);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
}

.caption {
  font-family: var(--inter_font);
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
}

.underline {
  font-family: var(--inter_font);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-decoration: underline;
}

.link {
  font-family: var(--inter_font);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

section {
  width: 100%;
  padding: 0 20px;
}

section:nth-child(1) {
  min-height: 100vh;
}

section:nth-child(odd), .product_page {
  background: var(--linear-blue);
}

section:nth-child(even) {
  background: var(--linear-pink);
}

footer {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.menu1 {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.menu2 {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  justify-content: flex-end;
}

.linkAnim {
  color: var(--black-color);
  position: relative;
  text-decoration: none;
}

.linkAnim::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.linkAnim:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.product_page {display: none}
.product_page:target {display: block}

nav {
  display: flex;
  padding: 10px 20px;
  border: 1px solid black;
  justify-content: space-between;
  border-radius: 27px;
  align-items: center;
  background-color: white;
  z-index: 500;
  position: fixed;
  top: 17px;
  max-width: 98%;
  width: 100%;
}

.nav-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.button-primary {
  border: 1px solid black;
  background-color: var(--white-color);
  font-family: var(--inter_font);
  font-size: 16px;
  padding: 15px 45px;
  border-radius: 27px;
  font-weight: 700;
  width: fit-content;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
  cursor: pointer;
}

.button-primary:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
}

.button-secondary {
  border: none;
  background-color: var(--black-color);
  font-family: var(--inter_font);
  font-weight: bold;
  font-size: 16px;
  color: var(--white-color);
  padding: 15px 45px;
  border-radius: 27px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transition: 250ms ease-in;
}

.button-secondary:hover {
  transform: translateY(-7px);
  transition: 250ms ease-in;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.header-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1640px;
  margin: 135px auto;
}

.headerimg {
  position: relative;
}

.headerimg img {
  max-width: 50vw;
}

.headerimg > img:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  animation: scale 800ms ease-in-out;
}

.stars img:nth-child(1) {
  animation: scale 800ms ease-in-out;
}
.stars img:nth-child(2) {
  animation: scale 800ms ease-in-out;
  animation-delay: 300ms;
}
.stars img:nth-child(3) {
  animation: scale 800ms ease-in-out;
  animation-delay: 300ms;
}
.stars img:nth-child(4) {
  animation: scale 800ms ease-in-out;
  animation-delay: 300ms;
}
.stars img:nth-child(5) {
  animation: scale 800ms ease-in-out;
  animation-delay: 300ms;
}

header .button-primary {
  animation: slideIn 500ms ease-in-out;
}

@keyframes scale {
  0% {
    scale: 0%;
  }
  100% {
    scale: 100%;
  }
}

@keyframes slideIn {
  0% {
    margin-left: -2000px;
  }
  100% {
    margin-left: 0px;
  }
}
.flavours-title {
  text-align: center;
}

.flavours-title {
  text-align: center;
}

.flavours-title > p:nth-child(1) {
  color: var(--pink-color);
  margin-top: 85px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  max-width: 1640px;
  margin: 0 auto;
  padding: 90px 0;
}

.card-product {
  border: 1px solid black;
  border-radius: 30px;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  animation: jumpIn  ease-in;
  animation-timeline: view();
  animation-range-end: contain 0% ;
  animation-range-end: contain 30% ;
}

@keyframes jumpIn {
  0%{
    transform: translateY(2000px);
  }
  100%{
    transform: translateY(0px);
  }
}

.product_info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.product-img {
  display: flex;
  justify-content: center;
  transition: 500ms ease-in-out;
  width: 100%;
  height: 100%;
}

nav, footer > * {
  cursor: pointer;
}

.product-img:hover {
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

.card-product:nth-child(1) {
  background: var(--vert-tropical);
}

.card-product:nth-child(2) {
  background: var(--linear-jaune);
}

.card-product:nth-child(3) {
  background: var(--linear-vert);
}

.card-product:nth-child(4) {
  background: var(--linear-rose2);
}

.card-product:nth-child(5) {
  background: var(--linear-orange);
}
.card-product:nth-child(6) {
  background: var(--linear-rouge);
}
.card-product:nth-child(7) {
  background: var(--linear-violet);
}
.card-product:nth-child(8) {
  background: var(--linear-beige);
}
.card-product:nth-child(9) {
  background: var(--linear-pamplemouse);
}

.action-section {
  padding: 100px 64px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.action-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.avantages div {
  display: flex;
  align-items: center;
  gap: 16px;
  text-transform: uppercase;
}
.avantages {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buttons-action {
  display: flex;
  align-items: center;
  gap: 24px;
}

.menu-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--black-color);
  padding-bottom: 60px;
  margin-bottom: 32px;
}

footer {
  padding: 80px 64px;
}

li {
  list-style: none;
}

ul {
  display: flex;
  gap: 32px;
}

.social {
  display: flex;
  gap: 12px;
}

.credit {
  display: flex;
  justify-content: center;
}

.form-container {
  display: grid;
  place-content: center;
}

.form-input,
.message {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 20px 0;
  gap: 10px;
}

.input-text {
  height: 48px;
  border-radius: 10px;
  outline: none;
  border: 1px solid black;
  min-width: 372px;
  padding: 15px;
  font-family: var(--inter_font);
}

.input-variant {
  height: 48px;
  border-radius: 10px;
  outline: none;
  border: 1px solid black;
  padding: 15px;
  font-family: var(--inter_font);
}

textarea {
  font-family: var(--inter_font);
  padding: 15px;
  width: 100%;
  border-radius: 10px;
}

.form-user div {
  display: flex;
}

form {
  margin: 112px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 20px 240px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 50;
}

nav::before {
  position: absolute;
  content: url(/assets/img/png/badge.png);
  bottom: -50px;
  left: 25%;
  width: 20px;
  aspect-ratio: 1/1;
  animation: scale 800ms ease-in-out;
}

.message {
  display: flex;
  align-items: center;
}

section:nth-child(4) {
  position: relative;
  overflow: hidden;
}

.imgGlass1 {
  position: absolute;
  bottom: -200px;
  left: 100px;
  
}
.imgGlass2 {
  position: absolute;
  bottom: -200px;
  right: -150px;
  
}

@keyframes parallaxY {
  from {
     translate: 0 -100px;
  }
  to {
     translate: 0 100px;
  }
}

@keyframes slideToTop {
  0% {
    bottom: -2000px;
  }
  100% {
    bottom: -200px;
  }
}

.rate:nth-child(1) {
  margin-bottom: -50px;
}

.img_preview {
  width: 100%;
}

.img_preview img {
  filter: drop-shadow(0px 4px 4px #818181);
  border-radius: 30px;
  width: 100%;
  transition: 800ms;
}

.path {
  display: flex;
  align-items: center;
  gap: 8px;
}

.preview {
  display: flex;
  gap: 16px;
  width: 50%;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 60%;
}

aside {
  display: flex;
  gap: 80px;
  margin-top: 24px;
}

.quantity {
  width: 64px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
}

.button-large {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.delivery_infos div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
}

.delivery_infos div:nth-child(1) {
  border-top: #000 1px solid;
  border-bottom: #000 1px solid;
}

.delivery_infos div:nth-child(3) {
  border-top: #000 1px solid;
  border-bottom: #000 1px solid;
}

@media (max-width: 1418px) {
  .headline1 {
    font-size: 120px;
    line-height: 120px;
  }

  .button-primary {
    font-size: 14px;
    padding: 12px 35px;
  }

  .button-secondary {
    font-size: 14px;
    padding: 12px 35px;
  }
}


@media (max-width: 1170px) {
  .action-section {
    flex-direction: column;
  }

  aside {
    flex-direction: column;
  }

  .preview {
    width: 80%;
  }

  .product-details{
    width: 100%;
  }

  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1418px) {
  .headline1 {
    font-family: var(--obviously_font);
    font-weight: 900;
    font-size: 120px;
    line-height: 120px;
    text-transform: uppercase;
    animation: slideIn 500ms ease-in-out;
  }

  .button-primary {
    font-size: 14px;
    padding: 12px 35px;
  }

  .button-secondary {
    font-size: 14px;
    padding: 12px 35px;
  }


}
@media (max-width: 948px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }

  .action-section{
    padding: 10px;
  }

  section:nth-child(4)::before {
    display: none;
   }
   section:nth-child(4)::after {
     display: none;
   }


  .product-grid {
    grid-template-columns: repeat(1, 1fr);
    max-width: 80vw;
  }

  .buttons-action {
    flex-direction: column;
  }

  .buttons-action button {
    width: 100%;
  }

  .form-user div {
    flex-direction: column;
  }

  .menu-footer {
    flex-direction: column;
    gap: 30px;
  }

  footer ul {
    flex-direction: column;
    align-items: center;
  }

  .menu1 p, .profile-img, nav:before {
    display: none;
  }

  .headline1 {
    font-size: 80px;
    line-height: 80px;
  }

  section:nth-child(1) {
    min-height: fit-content;
  }

  .headline4 {
    font-family: var(--obviously_font);
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
  }

  .preview, aside{
    flex-direction: column;
    
  }

  .quick_product{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }

  .input-variant {
    min-width: 100%;
  }

  .headerimg img {
    max-width: 100vw;
  }

  .uppercase {
    font-family: var(--inter_font);
    font-weight: 700;
    font-size: 15px;
    line-height: 27px;
    text-transform: uppercase;
  }
}
