@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Variable de couleurs et font. */

:root {
  --obviously_font: "obviously-condensed", sans-serif;
  --inter_font: "Inter", sans-serif;
  --linear-blue: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(116, 211, 250, 1) 100%
  );
  --linear-pink: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(250, 194, 216, 1) 100%
  );
  --vert-tropical: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    #00ffaa 100%
  );
  --linear-jaune: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    #ffd700 100%
  );
  --linear-orange: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    #ff4500 100%
  );
  --linear-violet: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    #4b0082 100%
  );
  --linear-pamplemouse: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    #ff6347 100%
  );
  --linear-beige: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    #f5deb3 100%
  );
  --linear-rouge: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    #8b0000 100%
  );
  --linear-rose2: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    #ff007f 100%
  );
  --linear-vert: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    #a8e05f 100%
  );
  --pink-color: #ff719d;
  --white-color: #fffaf6;
  --black-color: #000;
  --blue-color: #55b7e0;
}

/* Reset style par default */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Styles des different text présent. */

.headline1 {
  font-family: var(--obviously_font);
  font-weight: 900;
  font-size: 159.57px;
  line-height: 172px;
  text-transform: uppercase;
}

.headline2 {
  font-family: var(--obviously_font);
  font-weight: 700;
  font-size: 68.91px;
  line-height: 84px;
  text-transform: uppercase;
}

.headline3 {
  font-family: var(--obviously_font);
  font-weight: 700;
  font-size: 58px;
  line-height: 110%;
}

.headline4 {
  font-family: var(--obviously_font);
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
}

.headline5 {
  font-family: var(--obviously_font);
  font-weight: 200;
  font-size: 39.71px;
  line-height: 19px;
}

.body-font2 {
  font-family: var(--inter_font);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}

.body_bold {
  font-family: var(--inter_font);
  font-weight: 700;
  font-size: 17.97px;
  line-height: 27px;
}

.uppercase {
  font-family: var(--inter_font);
  font-weight: 700;
  font-size: 17.97px;
  line-height: 27px;
}

.body-font {
  font-family: var(--inter_font);
  font-weight: 500;
  font-size: 13.88px;
  line-height: 16px;
}

.tagline {
  font-family: var(--inter_font);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
}

.caption {
  font-family: var(--inter_font);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}

.underline {
  font-family: var(--inter_font);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-decoration: underline;
}

.link {
  font-family: var(--inter_font);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

section{
    width: 100%;
    min-height: 100vh;
}

section:nth-child(odd){
    background: var(--linear-blue);
}

section:nth-child(even){
    background: var(--linear-pink);
}

footer {
    background-color: var(--blue-color);
    color: var(--white-color);
}